<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftPay</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>SwiftPay</h1>
      <h3>Welcome to the P2P Fund Transfer System</h3>
      <div class="nav-links">
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
      </div>
    </div>
  </body>
</html>
